# 20220912 | Deep Learning

## Dataset Preprocessing

In [3]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

from sklearn.metrics import classification_report
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

import tensorflow.keras as keras

from keras.models import Sequential
from keras.layers import Dense

2022-09-19 08:36:27.283108: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-09-19 08:36:27.967378: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-09-19 08:36:27.967460: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-09-19 08:36:28.060791: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2022-09-19 08:36:30.085001: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-09-19 08:36:30.085139: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-09-19 08:36:30.085154: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [4]:
# df_train = pd.read_csv('../train_MachineLearningCVE.csv')
df_test = pd.read_csv('../test_MachineLearningCVE.csv')

In [5]:
# df_train

In [6]:
df_test

,Destination Port,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,Fwd Packet Length Min,Fwd Packet Length Mean,Fwd Packet Length Std,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,53,180.0,2,2,76,108,38,38,38.000000,0.000000,...,32.0,0.0,0.0,0,0,0.0,0.0,0,0,0
1,80,84213354.0,10,6,1077,11595,357,0,107.700000,172.043308,...,20.0,999.0,0.0,999,999,83600000.0,0.0,83600000,83600000,4
2,88,156.0,1,4,0,12,0,0,0.000000,0.000000,...,32.0,0.0,0.0,0,0,0.0,0.0,0,0,0
3,53,71031.0,1,1,47,132,47,47,47.000000,0.000000,...,20.0,0.0,0.0,0,0,0.0,0.0,0,0,0
4,80,84910301.0,6,5,400,11595,400,0,66.666667,163.299316,...,32.0,4.0,0.0,4,4,84800000.0,0.0,84800000,84800000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566144,80,3570982.0,3,3,6,6,6,0,2.000000,3.464102,...,20.0,0.0,0.0,0,0,0.0,0.0,0,0,0
566145,80,8389778.0,4,0,24,0,6,6,6.000000,0.000000,...,20.0,5989.0,0.0,5989,5989,8383789.0,0.0,8383789,8383789,2
566146,80,1400543.0,3,5,26,11601,20,0,8.666667,10.263203,...,20.0,0.0,0.0,0,0,0.0,0.0,0,0,2
566147,53,81981.0,4,2,180,146,45,45,45.000000,0.000000,...,20.0,0.0,0.0,0,0,0.0,0.0,0,0,0
566148,2323,72.0,1,1,0,6,0,0,0.000000,0.000000,...,40.0,0.0,0.0,0,0,0.0,0.0,0,0,10

- Assembling the complete dataset from the 2 files

In [7]:
# df = pd.concat([df_train, df_test], axis=0, copy=True)
df = df_test
df.Label.unique()

array([ 0,  4, 10,  3,  7,  6,  5, 11, 12,  1, 14,  9,  8, 13,  2])

In [8]:
def preprocessing(df):
    # Shuffle the dataset
    df = df.sample(frac=1)

    # Split features and labels
    x = df.iloc[:, df.columns != 'Label']
    y = df[['Label']].to_numpy()

    # Scale the features between 0 ~ 1
    scaler = MinMaxScaler()
    x = scaler.fit_transform(x)

    return x, y

x, y = preprocessing(df)

- splitting the dataset

In [9]:
X_train,X_test,Y_train,Y_test = train_test_split(x, y, train_size=0.7, random_state=42)

In [10]:
print(X_train.shape)
print(Y_train.shape)

print(X_test.shape)
print(Y_test.shape)

(396304, 78)
(396304, 1)
(169845, 78)
(169845, 1)

## DL model
### Creating the Model

In [18]:
model = Sequential()
model.add(Dense(80, input_dim=78, activation='relu'))
model.add(Dense(80, activation='relu'))
model.add(Dense(80, activation='sigmoid'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [19]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                6320

 dense_4 (Dense)             (None, 80)                6480

 dense_5 (Dense)             (None, 1)                 81

=================================================================
Total params: 12,881
Trainable params: 12,881
Non-trainable params: 0
_________________________________________________________________

### Training the Model

In [20]:
model.fit(X_train, Y_train, epochs=10, batch_size=32)

2022-09-19 09:27:07.020132: W tensorflow/core/framework/cpu_allocator_impl.cc:82] Allocation of 123646848 exceeds 10% of free system memory.

Epoch 1/10
12385/12385 [==============================] - 57s 4ms/step - loss: 0.0000e+00 - accuracy: 0.5690
Epoch 2/10
12385/12385 [==============================] - 55s 4ms/step - loss: 0.0000e+00 - accuracy: 0.5742
Epoch 3/10
12385/12385 [==============================] - 56s 5ms/step - loss: 0.0000e+00 - accuracy: 0.5751
Epoch 4/10
12385/12385 [==============================] - 57s 5ms/step - loss: 0.0000e+00 - accuracy: 0.5749
Epoch 5/10
12385/12385 [==============================] - 55s 4ms/step - loss: 0.0000e+00 - accuracy: 0.5752
Epoch 6/10
12385/12385 [==============================] - 56s 5ms/step - loss: 0.0000e+00 - accuracy: 0.5750
Epoch 7/10
12385/12385 [==============================] - 56s 4ms/step - loss: 0.0000e+00 - accuracy: 0.5749
Epoch 8/10
12385/12385 [==============================] - 53s 4ms/step - loss: 0.0000e+00 - accuracy: 0.5750
Epoch 9/10
12385/12385 [==============================] - 54s 4ms/step - loss: 0.0000e+00 - accuracy: 0.5749
Epoch 10/10
12385/12385 [==============================] - 13265s 1s/step - loss: 0.0000e+00 - accuracy: 0.5750

## Make Predictions

In [17]:
predictions = model.predict(X_test)

accuracy = Y_test[predictions == Y_test].shape[0]/Y_test.shape[0]

print(accuracy)

5308/5308 [==============================] - 19s 4ms/step
(169845, 1)
(169845, 1)
0.7497718508051459